body {
    background-color: rgba(150, 255, 80, 0.646);
    background-image: url("picture/background_001.jpg");
}

h1 {
    background: rgba(243, 235, 116, 0.71);
    font-size:400%;
    color: blue; 
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold;
    text-align: center;
    
}

h2 {
    font-size:x-large;
    color: rgba(254, 19, 11, 0.865); 
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold;
    text-align: center;
    
}

a{
    color:#FF0000
}

span{
    height:50px;
    width:75px;
    background: #FF0000;
    display:inline;
}

div{
    height:50px;
    width:50%;
    background: #00b3ff;
}

P{
    height:100px;
    width:80%;
    background: #00b3ff;
}